{% extends "viz/base.html" %}

{% block content %}

<script type="text/javascript">

  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawSeniorities);
  google.charts.setOnLoadCallback(drawAreas);
  google.charts.setOnLoadCallback(drawSubareas);

  function drawSeniorities() {
      var data = new google.visualization.arrayToDataTable({{seniority_data | safe}});
      var chart = new google.visualization.ComboChart(document.getElementById('seniority_chart'));
      chart.draw(data, comboChartOptionFactory("Seniorities"));
  }

  function drawAreas(){
      var data = new google.visualization.arrayToDataTable({{area_data | safe}});
      var chart = new google.visualization.ComboChart(document.getElementById('area_chart'));
      chart.draw(data, comboChartOptionFactory("Area"));
  }

  function drawSubareas(){
      var data = new google.visualization.arrayToDataTable({{subarea_data | safe}});
      var chart = new google.visualization.ComboChart(document.getElementById('subarea_chart'));
      chart.draw(data, comboChartOptionFactory("Subarea"));
  }
  
</script>

<style>
  .result {
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }
  .table {
      width: 50%;
  }

</style>

<center>

  <h2>Candidate Comparison</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Candidate</th>
        <th>Position</th>
        <th>Interview Result</th>
      </tr>
    </thead>

    {% for interview in interviews %}
    <tbody>
      <tr>
        <td>{{interview.id}}</td>
        <td>{{interview.candidate.name}}</td>
        <td>{{interview.position.name}}</td>
        <td>{{interview.result}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>

</center>

<div class="result">
  <div id="seniority_chart"></div>
  <div id="area_chart"></div>
  <div id="subarea_chart"></div>
</div>

{% endblock %}
