{% extends "base/base.html" %}

{% block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  let band_results = {{band_results | safe}}


  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawBand);
  google.charts.setOnLoadCallback(drawArea);
  google.charts.setOnLoadCallback(drawSubarea);
  function drawBand() {
      var data = new google.visualization.arrayToDataTable({{table | safe}});

      var options = {
          title : 'Results per Band',
          vAxis: {
              title: 'Score',
              minValue: 0,
              maxValue: 10,
          },
          hAxis: {title: 'Band'},
          seriesType: 'bars'
      }

      var chart = new google.visualization.ComboChart(document.getElementById('band_chart'));
      chart.draw(data, options);
  }
</script>

<style>
  .result {
      display: flex;
      flex-direction: row;
      align-items: center;

  }
</style>

<h2>Band results</h2>
<div class="result">
<div id="band_chart"></div>
<div id="band_table"></div>
</div>

{% endblock %}
