{% extends "base/base.html" %}

{% block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  let area_results = {{area_results | safe}}
  let subarea_results = {{subarea_results | safe}}
  let band_results = {{band_results | safe}}


  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawBand);
  google.charts.setOnLoadCallback(drawArea);
  google.charts.setOnLoadCallback(drawSubarea);
  function drawBand() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Band');
      data.addColumn('number', 'Score');
      data.addRows(band_results)

      var options = {
          width: 400,
          height: 240,
          title: 'Band average',
      };

      var chart = new google.visualization.ColumnChart(document.getElementById('band_chart'));
      chart.draw(data, options);
  }

  function drawArea() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Area');
      data.addColumn('number', 'Score');
      data.addRows(area_results)

      var options = {
          width: 400,
          height: 240,
          title: 'Area average',
      };

      var chart = new google.visualization.ColumnChart(document.getElementById('area_chart'));
      chart.draw(data, options);
  }

  function drawSubarea() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Subarea');
      data.addColumn('number', 'Score');
      data.addRows(subarea_results)

      var options = {
          width: 400,
          height: 240,
          title: 'Subarea average',
      };

      var chart = new google.visualization.ColumnChart(document.getElementById('subarea_chart'));
      chart.draw(data, options);
  }

</script>

<div id="area_chart"></div>
<div id="subarea_chart"></div>
<div id="band_chart"></div>
{% endblock %}
