{% extends "base/base.html" %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Candidate</th>
      <th scope="col">Position</th>
      <th scope="col">Result</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>
    {% for interview in interviews %}
    <tr>
      <td>{{interview.id}}</td>
      <td>{{interview.candidate}}</td>
      <td>{{interview.position}}</td>
      <td>{{interview.result}}</td>
      <td>{{interview.date.date}}</td>
      <td><a href={% url 'viz:detail' interview.id %}>View</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
