{% extends "base/base.html" %}

{% block content %}

<h2>Candidate</h2>
{{candidate}}

<h2>Template</h2>
{{template}}

<h2>Position</h2>
{{position}}

<h2>Questions and scores </h2>
<table>
<tr>
  <th>Question</th>
  <th>Score</th>
</tr>
{% for question, score in questions_scores %}
<tr>
  <th>{{question.question}}</th>
  <th>{{score}}</th>
</tr>
{% endfor %}
</table>

<button type="button">Back</button>
<a href={% url 'interview:conclusion' %}>
<button type="button">Confirm</button>
</a>

{% endblock %}
